h1,
h2,
h3,
p {
    font-family: 'Lato', arial, sans-serif;
}

/** NavBar **/
.navbar {
    background-color: #FFF;
}

    .navbar .registerLink {
        font-weight: bold;
    }
.nav.navbar-nav li a {
   color: #000;
 }
    .nav.navbar-nav a:hover {
        color: grey !important;
    }
.navbar-brand {
    font-family: 'Lato', arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #000 !important;
}

/** JUMBOTRON **/
.body-content .jumbotron {
    /** background-color: #F9D423;    
    background-image: linear-gradient(to bottom, #F9D423, #FF4E50 100%); **/
    background: url('/Images/jumbotron-image.jpg') no-repeat center top !important;
    background-size: cover;
    height: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: -10px;
    display: block;}

    .jumbotron .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 100% !important;
    }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: 'Lato', arial, sans-serif;
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    font-family: 'Lato', arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.button-center {
    text-align: center;
}

.homePageTable {
    margin: auto;
}

.homePageTable tr {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    border-bottom-color: black;
}
.homePageTable td {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
}


/** FOOTER **/

footer .dull {
    color: grey;
}

#mapImage {
    float: left;
}

#address {
    float: left;
    list-style-type: none;
}

#footerCenter {
    text-align: center;
}

#whiteLotusSocial {
    font-size: 40px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
}

#mySocial {
    text-align: center;
}

/** SCHEDULE PAGE **/
.classScheduleTable {
    margin: auto;
}

.classScheduleTable tr {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    border-bottom-color: black;
}
.classScheduleTable td {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
}

.workshopScheduleTable {
    margin: auto;
}

.workshopScheduleTable tr {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    border-bottom-color: black;
}
.workshopScheduleTable td {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
}

/** PRICING PAGE **/
.pricingTitle {
    margin: auto;
    text-align: center;
}

.pricingText {
    margin: auto;
    text-align: center;
}
#extraInformationRow {
    margin: auto;
    max-width: 65%;
}
.pricingExtraInfoTitle {
    font-weight: bold;
}

.pricesTable {
    margin: auto;
}

.pricesTable th {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
    .pricesTable .topHeader {
        padding-top: 0px;
    }
.pricesTable .item {
    padding-right: 140px;
}
.pricesTable .price {
    text-align: center;
}

/** REGISTRATION PAGE **/
.row .centered-form {
    display: block;
    margin-top: 55px;
    width: 100%;
}
.form-group {
    padding-right: -10px;
    display: block;
}


/** MANAGEMENT DASHBOARD **/
#staffHeader {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-width: thin;
}
#staffItemLeft {
    text-align: center;
    padding-right: 15px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-width: thin;
}
#staffItemRight {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-width: thin;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
